.td_sup{
    align-items: left;
    width: 100;
    justify-content: left;
}

.td_inf{
    align-items: center;
    justify-content: center;
    width: 2px;

}
.input_text{
    align-items: center;
    justify-content: center;
    size:15;
    border-width: 3px;
    border-style: solid;
    color: rgba(12, 12, 11, 0.994);
    letter-spacing: 3px;
    font-size: 20px;
}
*{
    background-color: rgba(233, 169, 102, 0.535);
}
p{
    font-size: 19px;
    align-items: center;
    justify-content: center;
    color: #63350a;
}
